body {
  background-image: url(resources/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.general {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 619px;
  height: 662px;
  left: 287px;
  top: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bienvendo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50% 0 0 -50%;
  width: 481px;
  height: 123px;
  top: 82px;
}

.inputs {
  width: 619px;
  height: 498px;
  background: #C996E5;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#user {
  width: 217px;
  height: 79px;

  font-family: 'Actor';
  font-style: normal;
  font-weight: 400;
  font-size: 66px;
  line-height: 79px;

  color: #8A8585;
  width: 550px;
  height: 97px;
  text-align: center;


  background: rgba(255, 230, 232, 0.9);
  border-radius: 50px;
}

#password {

  width: 322px;
  height: 79px;

  font-family: 'Actor';
  font-style: normal;
  font-weight: 400;
  font-size: 66px;
  line-height: 79px;

  color: #8A8585;
  width: 550px;
  height: 97px;
  text-align: center;

  background: rgba(255, 230, 232, 0.9);
  border-radius: 50px;
}

.logIn {


  font-family: 'Actor';
  font-style: normal;
  font-weight: 400;
  font-size: 66px;
  line-height: 79px;

  color: #2D2D2D;

  box-sizing: border-box;
  width: 351px;
  height: 97px;
  text-align: center;


  background: rgba(147, 80, 178, 0.59);
  border: 1px solid rgba(147, 80, 178, 0.59);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}